name: Vacancies Checker

on:
  schedule:
    - cron: '0 3,6,9,12,15 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run script
      env:
        LLM_API_KEY: ${{ secrets.LLM_API_KEY }}
        TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
      run: |
        python main.py

    - name: Commit and push index.html
      run: |
        git config --global user.name 'github-actions'
        git config --global user.email 'github-actions@github.com'
        git add vacancies.o
        git commit -m "upd: vacancies.json" || exit 0
        git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}